@tailwind base;
@tailwind components;
@tailwind utilities;
@import "https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}
